/* útfæra */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.question h3 {
    margin-top: 0;
}

.hidden {
    display: none;
}

button {
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}

.actions {
    display: flex;
    margin-top: 0.5rem;
}

.actions button{
    margin-right: 0.5rem;
}

#score {
    position: sticky;
    top: 0;
    font-weight: bold;
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 0.5rem 0;
    z-index: 10;
    font-size: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: 80px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;

    color: black;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

li a:hover {
    background-color: #f5f5f5;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    cursor: pointer;
}

